<div class="row">
    <nav class="sidebar light span3">
        <ul>
            <li class="title">Your Rooms</li>
        </ul>
        <ul class="classtabs">
            <li ng-class="{'active' : viewPage == 'addroom'}" ng-click='viewPage = "addroom"'>
                <a>Manage Rooms</a>
            </li>
        </ul>
    </nav>
    <div class="span12">
        <div style="padding-left: 20px;">
            <div id="addroom" ng-show="viewPage == 'addroom'">
                <div ng-show="grid">
                    <%- include rooms/gridRoomLayout %>
                </div>
                <div ng-show="!grid">
                    <%- include rooms/listRoomLayout %>
                </div>
            </div>

            <div ng-repeat="room in currentRooms">
                <%- include rooms/room %>
            </div>
        </div>
    </div>
</div>