<div class="row" style="margin-left:20px;">
    <nav class="sidebar light span3">
        <ul>
            <li class="title">Your Rooms</li>
        </ul>
        <ul class="classtabs">
            <li ng-class="{'active' : viewPage == 'addroom'}" ng-click='viewPage = "addroom"'>
                <a>Manage Rooms</a>
            </li>
        </ul>
    </nav>
</div>