<div class="row" style="margin-left: 20px;">
	<nav class="sidebar light span3">
        <ul>
            <li class="title">Your Rooms</li>
        </ul>
        <ul>
        	<li>Group 11 FlunkLess</li>
        	<li>Awesome Study Group</li>
        	<li>Too Cool for Nadir</li>
        </ul>
    </nav>
	<div class="span9">
		<form>
		<legend>Create a room</legend>
		<label>Name</label>
		<div class="input-control text">
		    <input type="text" value="" placeholder="input text"/>
		    <button class="btn-clear"></button>
		</div>
		<label>Description</label>
		<div class="input-control textarea">
		    <textarea>...</textarea>
		</div>
		<label>Invite Users</label>
		Users you've invited will be sent a request to join your room. They can accept or decline.
		<div class="input-control text">
		    <input type="text" />
		    <button class="btn-search"></button>
		</div>
		<label>Invited users</label>
		<div class="input-control textarea">
		    <textarea>thomas
	alex
	kandice</textarea>
		</div>
		
		<input type="submit" value="Submit">

		
	</div>
		</form>
	</div>
</div>