<!DOCTYPE html>
<html ng-app="chat">
<%- include misc/header.ejs %>

    <body class="metro" ng-controller="ChatAppCtrl" ng-cloak>
        <%- include misc/navbar.ejs %>
            <!-- Begin page content -->
            <div ng-view></div>
    </body>

</html>
