<div class="row">
    <div class="span10 offset1">
        <h1>Welcome to FlunkLess!</h1>
        <p class = "lead">FlunkLess is designed for you to collaborate with students and professors.</p>
        <p>To get started, click the "Chat" button in the navigation bar above. From there, you can add rooms from the room list. Every class has a designated room, but you can also create private rooms for group projects or private conversations.</p>

    </div>
</div>
