<div class="grid">
    <div class="row">
        <%- include roomcreation %>
            <!-- <div class="span8" style="height:500px; overflow:visible"> -->
            <div>
                <div class="table-responsive">
                    <div ng-repeat="room in rooms | filter : {name : roomname} | filter: addedInRoom" ng-cloak>
                        <div class="tile double " ng-click='addRoom(room)'>
                            <button class="info">
                                <i ng-class="{'icon-plus-2' : 'true'}"></i>
                            </button>
                            <p style="padding:5px;">{{ room.name }}</p>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>