<div id="{{room.id}}" ng-show='viewPage == room.id' style="height:100%">
    <h2>{{room.name}}</h2>
    <div class="row">
        <div class="span9">
            <div class="panel">
                <div class="panel-header  bg-lightBlue fg-white">
                    Pinned Posts
                    <div class="button-set" style="float:right;">
                        <button ng-click="view.active = !view.active" ng-class="{'success' : view.active}" ng-repeat="view in pinViews">
                            {{view.name}}
                        </button>
                    </div>

                </div>
                <div class="panel-content" style="height:100px; overflow:scroll;">
                    <table ng-repeat="item in room.pinnedPosts.slice().reverse()">
                        <tr ng-show="pinViews[pinMap[item.type]].active">
                            <td><b>{{item.name}} </b> : <pin post="item"></pin></td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="panel" ng-show = 'navView != "chatLog"'>
                <div class="panel-header  bg-lightBlue fg-white">
                    Chat Room
                    <button class="primary" style="float: right;"><a href = "" ng-click="navView='chatLog';getChatLog(room.name)">Chat Log</a></button>
                </div>
                <div class="panel-content">
                    <div id="general" class="frame">
                        <ul style="height:250px;overflow:auto;margin-left:-16px" scroll-if>
                            <li class="list-unstyled" ng-repeat="post in room.posts" ng-cloak scroll-item ng-class="{dark: $index % 2 === 0}">
				                <strong>{{post.name}}:</strong> {{post.message}}
                            </li>
                        </ul>
                    </div>
                    <br>
                    <form class="input-control">
                        <input class="input-control text size8" ng-model="message" name="message" id="message" on-focus="focus(true)" on-blur="focus(false)" type="text" value="" placeholder="Enter a Message..."></input>
                        <div class="size2 input-control select">
                            <select ng-model="room.writeMode" ng-options="mode for mode in modes"></select>
                        </div>
                        <input type="text" ng-model="urllink" ng-show="room.writeMode == 'Link'" placeholder="Place URL Link here" class="size5 input-control text"></input>
                        <button ng-click="send(room.id, room.writeMode);">Submit</button>
                    </form>
                    
                </div>
            </div>
            <div class="panel" ng-show = 'navView == "chatLog"'>
                 <%- include ../chatLog.ejs %>
            </div>
        </div>
        <div class="span3">
            <div class="panel">
                <div class="panel-header  bg-lightBlue fg-white">People Online</div>

                <div class="listview-outlook small" style="height:500px;">
                    <div ng-repeat="person in room.people">
                        <a href="#" class="list" ng-click="invitePerson(person)">
                            <div class="list-content">
                                <img style="width:60px; height:60px;"
                                ng-src="http://www.catster.com/files/20121018-catster-pusheen-costume-{{$index+1}}.jpg" class="icon" />
                                <div class="data">{{person.name}}</div>
                            </div>
                        </a>
                    </div>
                    <a href="#" class="list bg-gray fg-white">
                        <div class="list-content">
                            <div ng-click="leaveRoom(room)" class="data">Leave Room</div>
                        </div>
                    </a>
                    
                </div>
            </div>
        </div>
    </div>
</div>
