<div ng-controller="loginCtrl" style="padding-left: 30px;">
    <div class="page-header" ng-hide="user.name != null">
        <h1><i class="icon-comments-4"></i>FlunkLess<small> A collaborative workspace</small></h1>
    </div>

    <p class="subheader">Welcome to FlunkLess</p>
    <p class="subheader-secondary">
         Please enter your screenname below and log in. This app requires <br> Facebook to access credentials.
    </p>
    <br>
    <form name="signup_form" class="form-inline" role="form" ng-submit='FBLogin()' novalidate >
          <fieldset>
        <div class="form-group">
            <input type="text" 
            class="form-control" 
            id="username" 
            ng-model="username" 
            name="username" 
            placeholder="Enter Name" 
            ng-minlength=5 
            ng-maxlength=20 
            required />
        </div>
        <button type="submit" class="bg-lightBlue fg-white" ng-disabled="signup_form.$invalid">Log in</button>
        <!-- <button type="submit" class="bg-lightBlue fg-white" ng-click='joinServer()'>Log in (admin)</button> -->
        <p ng-show="loading">Loading...</p>
          <div class="error-container" ng-show="signup_form.username.$invalid && signup_form.username.$dirty">
            <small class="error" 
                ng-show="signup_form.username.$error.required">
                Your name is required.
            </small>
            <small class="error" 
                    ng-show="signup_form.username.$error.minlength">
                    Your name is required to be at least 5 characters
            </small>
            <small class="error" 
                    ng-show="signup_form.username.$error.maxlength">
                    Your name cannot be longer than 20 characters
            </small>
          </div>
          </fieldset>
    </form>


    <small ng-cloak ng-if="error" class="text-danger">{{ error.join }}</small>  <small ng-cloak ng-if="suggestedUsername" class="text-info" ng-click="setUsername(suggestedUsername)">How about <span class="text-success" style="cursor: pointer;">{{ suggestedUsername }}</a>?</small>

</div>