<div class="jumbotron text-center" style="margin-top: 50px;">
    <h1>FlunkLess</h1>
    <h2>Better than just being there.</h2>
    <br>
    <br>


    <div class="row">
        <div class="span10 offset1">
            <div class="span4">
                <h1><i class="icon-comments-4"></i></h1>
                <h3>Discuss</h3>
            </div>
            <div class="span4">
                <h1><i class="icon-book"></i></h1>
                <h3>Study</h3>
            </div>
            <div class="span4">
                <h1><i class="icon-user-2"></i></h1>
                <h3>Collaborate</h3>
            </div>
        </div>
    </div>


    <br>
    <br>

    <div class="row">
        <div class="span10 offset1">
            <p class="subheader-secondary">
                 Please enter your screenname below and log in to begin. This app requires Facebook to access credentials.
            </p>
            <br>
            <form name="signup_form" class="form-inline" role="form" onsubmit="document.getElementById('myButton').disabled=true;" ng-submit='FBLogin()' novalidate >
                  <fieldset>
                <div class="form-group">
                    <input type="text" 
                    class="form-control" 
                    id="username" 
                    ng-model="username" 
                    name="username" 
                    placeholder="Enter Name" 
                    ng-minlength=5 
                    ng-maxlength=15 
                    required />
                </div>
                <button id = "myButton" type="submit" class="bg-lightBlue fg-white" ng-disabled="signup_form.$invalid">Log in</button>
                <!-- <button type="submit" class="bg-lightBlue fg-white" ng-click='joinServer()'>Log in (admin)</button> -->
                <p ng-show="loading">Loading...</p>
                  <div class="error-container" ng-show="signup_form.username.$invalid && signup_form.username.$dirty">
                    <small class="error" 
                        ng-show="signup_form.username.$error.required">
                        Your name is required.
                    </small>
                    <small class="error" 
                            ng-show="signup_form.username.$error.minlength">
                            Your name is required to be at least 5 characters
                    </small>
                    <small class="error" 
                            ng-show="signup_form.username.$error.maxlength">
                            Your name cannot be longer than 15 characters
                    </small>
                  </div>
                  </fieldset>
            </form>


            <small ng-cloak ng-if="error" class="text-danger">{{ error.join }}</small>  <small ng-cloak ng-if="suggestedUsername" class="text-info" ng-click="setUsername(suggestedUsername)">How about <span class="text-success" style="cursor: pointer;">{{ suggestedUsername }}</a>?</small>
        </div>
    </div>
</div>