
<nav class="navigation-bar bg-lightBlue">
    <nav class="navigation-bar-content" ng-hide="user.name == null">
        <item class="element"><span class="icon-comments-4">
            <a ng-click="navView='main'" class="fg-white" >FlunkLess</a>
        </item>
        <item class="element-divider"></item>
        <item class="element"><a ng-click="navView='chat'" class="fg-white">Chat</a></item>
        <item class="element-divider"></item>
        <item class="element"><a ng-click="navView='create'" class="fg-white">Manage Your Rooms</a></item>
        <span class="element-divider place-right"></span>
        <div class="element place-right dropdown">
            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                <div class="badge">{{tags.length}}</div>
            </a>
            <ul class="dropdown-menu place-right" role="menu">
                <li ng-repeat="tag in tags">
                    <a href="#" ng-click="switchRoom(tag);remove(tags, $index);">{{tag.content}}</a>
                </li>
            </ul>
        </div>
            <a class="element place-right" href="#">
                <span>Hello, {{user.realname}} ({{user.name}})</span>
            </a>
    </nav>
</nav>
<br>