
<nav class="navigation-bar">
    <nav class="navigation-bar-content" ng-hide="user.name == null">
        <item class="element"><span class="icon-comments-4">
            <a ng-click="navView='main'" class="fg-white" >FlunkLess</a>
        </item>
        <item class="element-divider"></item>
        <item class="element"><a ng-click="navView='chat'" class="fg-white">Chat</a></item>
        <item class="element-divider"></item>
        <item class="element"><a ng-click="navView='create'" class="fg-white">Manage Groups</a></item>
        <span class="element-divider place-right"></span>
        <div class="element place-right">
            <a class="dropdown-toggle" href="#">
                <div class="badge">{{tags.length}}</div>
            </a>
            <ul class="dropdown-menu place-right" data-role="dropdown">
                <li ng-repeat="tag in tags">
                    <a href="#">{{tag}}</a>
                </li>
            </ul>
        </div>
            <a class="element place-right" href="#">
                <span>Hello, {{user.realname}} ({{user.name}})</span>
            </a>
    </nav>
</nav>
<br>